.payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.payment-form label {
    display: block;
    margin-bottom: 5px;
    background-color: white;
}

.payment-form [type="text"], .payment-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.payment-form input[type="text"].card-cvv {
    width: 60px;
}

.card-expiry {
    display: flex;
}

.card-expiry input {
    flex: 1;
    margin-right: 10px;
}

.card-expiry label {
    flex: 1;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.bottom-part-confirmation {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 92%;
    margin: auto;
}
.bottom-part-confirmation  {
    border: 1px solid black;
}